*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4285f4;
}
.wrapper{
    width: 500px;
    background-color: white;
    border-radius: 7px;
    padding:20px 25px 15px ;
}
header  h1{
font-size: 27px;
font-weight: 500;
}
header  p{
    font-size: 18px;
margin-top: 5px;
}
form {
    margin: 20px 0 27px;

}
form input {
width: 100%;
height: 60px;
outline: none;
border-radius: 5px ;
font-size: 19px;
padding: 0 17px ;
border: 1px solid #b3b2b2;
}
form button{
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color:#4285f4 ;
    opacity: 0.7;
    pointer-events: none;
    padding: 15px 0 ;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 17px;
}
form input ~ button{
    opacity: 1;
    pointer-events: auto;
}
    
